form
{
	text-align:center;
	margin-top:10%;
}

h1{
	color:green;
}
input[id="print"]
{
	height:40px;
	color:green;
	font-size:20px;
}
input[id="cancel"]
{
	height:40px;
	color:red;
	font-size:20px;
}

input[id="print"]:hover { 
    cursor:pointer;
}


input[id="cancel"]:hover { 
    cursor:pointer;
